@import "tailwindcss";

@font-face {
  font-family: "Apple Garamond";
  src: url("./assets/fonts/AppleGaramond.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Apple Garamond";
  src: url("./assets/fonts/AppleGaramond-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Apple Garamond";
  src: url("./assets/fonts/AppleGaramond-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

body {
  font-family: "Apple Garamond", serif;
  color: #3D2F2B;
  margin: 0;
  min-height: 100vh;

  background:

    /* checker pattern */
    linear-gradient(
      90deg,
      rgba(183, 177, 190, 0.25) 50%,
      transparent 50%
    )
    0 0 / 100px 100px,

    linear-gradient(
      rgba(183, 177, 190, 0.25) 50%,
      transparent 50%
    )
    0 0 / 100px 100px,

    /* base */
    #faf8f7;

  background-attachment: fixed;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0px) rotate(0deg);
  }

  50% {
    transform: translateY(-15px) rotate(6deg);
  }
}

.floating-decoration {
  opacity: 0.50;
  animation-name: float;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes windowOpen {
  from {
    opacity: 0;
    transform: scale(0.96) translateY(8px);
  }

  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}
